body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    box-sizing: border-box;
}



.border-table {
    width: 100%;
}

hr {
    border: solid thin grey;
}

.nav-panel, .content-panel {
    padding: 4px;
}

ol {
    list-style: none;
}

.nav-panel > ol {
    padding: 0;
}

label, input {
    display: block;
}

pre {
    overflow-x: auto;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    main {
        display: flex;

    }

    .content-panel {
        min-width: 0;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
}